@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #constellation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000000fa;
  }

  body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
  }
  
  
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  
  .project-item {
    background: #141212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-left: 5px solid  #37ff14be;
  }
  .project-item img {
    width: 100%;
    height: 50%;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .project-item:hover {
    transform: translateY(-5px);
  }
  
  .project-item:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-left: 5px solid #32cf16dc;
    }
   .projects h2 {
    font-family: "Turret Road", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    color: #0af502af;
    margin-bottom: 20px;
   }
  .project-item h3 {
    font-family: "Turret Road", sans-serif;
    font-size: 1.5rem;
    color: #009e8c;
    margin-bottom: 10px;
  }
  
  .project-item p {
    color: #f0ededb2;
    margin-top: 10px;
    
  }
  
  .project-item a {
    color:rgba(222, 184, 135, 0.658);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    margin-top: 10px;
    display: inline-block;
  }
  
  .project-item a:hover {
    color: rgba(222, 184, 135, 0.973);
  }
  
